.txtb{
    font-size:36px;
    line-height: 52px;
    padding-top:40px;
}
.counter{
    /*display: inline;*/
    float:left;
    list-style: none;
    border-radius: 3px;
    margin: 0.2em;
    /* Apply to all four sides */
    /* vertical | horizontal */
    /* top | horizontal | bottom */
    /* top | right | bottom | left */    
    padding: 0 0.3em 1.8em 0.8em;
    /*padding: 0.8em;*/
    

    -o-transition:.4s;
    -ms-transition:.4s;
    -moz-transition:.4s;
    -webkit-transition:.4s;
    /* ...and now for the proper property */
    transition:.4s;
}

.counterRed{
    color: #E60033;
    border: 1px solid #E60033;
    background: rgba(230,0,51,0.1);
}
.counter4{background-color: #E86100;}
.counterOrange{
    color: #F39800;
    border: 1px solid #F39800;
    background: rgba(252,127,0,0.1);
}
.counter2{background-color: #FFF100;}
.counter1{background-color: #CFDB00;}
.counterGreen{
    color: #4BB022;
    background: rgba(75,176,34,0.1);
    border: 1px solid #4BB022
    
}
.counterWhite{
    color: #9b9c9f;
    background: rgba(200,200,200,0.1);
    border: 1px solid #9b9c9f
    
}
/*orangetext f4a61a*/
/*orangeback 4a433b*/
.counterPaused{
    color: #838487;
    /*background: rgba(75,176,34,0.1);*/
    border: 1px solid #838487;
}

.counter:hover{
    box-shadow: inset 0 0 100px 100px rgba(126, 126, 126, 0.25);
}

/* is member world */
.valueMembers{
    
}
.valueStatus{
    
}
/* world number */
.valueNumber{
    
}

.timer{
    font-size: 1.5em;
    padding-left: 40px;
    /*position:3px;*/
}
button:focus{
    outline:0;
}

.worldNumber{
    margin:0px;
    font-size:2.4em;
    position:absolute;
    font-weight:bold;
    /*z-index:-1;*/
    /*color:red;*/
    /*background:hsl(210,13%,60%);*/
    /*color: hsl(120,100%,5%);*/
    color:grey;
    /*background: hsl(0,50%,45%);*/
    opacity:.28;
    /*text-shadow: 0 1px 1px hsla(0,0%,100%, .8);*/
    /*text-shadow: 0 -1px 1px black;*/

    /* top | right | bottom | left */    
    padding: 0.45em 0.3em 0 0;
    
}

.unsel{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#app.night{
    background-color:#36393f;
}

#app.day{
    background-color:#FFF;
}

body{
    background-color:#36393f;
}

h1{
    color:grey;
}
.lead{
    color:grey;
    opacity: .6;
}
.page-header{
    border-bottom: 1px solid grey;
}